<%= form_with model: list do |f| %>
  <div class="mb-3">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="mb-3">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="mb-3">
    <%= f.label :public, "Make public?" %>
    <%= f.check_box :public %>
  </div>
  <%= f.submit class: "btn" %>

<% end %>
