<div id="<%= dom_id book %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= book.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Author:</strong>
    <%= book.author %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Isbn:</strong>
    <%= book.isbn %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= book.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Published year:</strong>
    <%= book.published_year %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Country of origin:</strong>
    <%= book.country_of_origin %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Language:</strong>
    <%= book.language %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Page count:</strong>
    <%= book.page_count %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Age indicator:</strong>
    <%= book.age_indicator %>
  </div>
</div>
