<div class="w-full max-w-md">
  <div class="card">
    <h1 class="h1 mb-6 text-center">Update your password</h1>

    <%= form_with url: password_path(params[:token]), method: :put do |form| %>
      <div class="space-y-4">
        <div>
          <%= form.label :password, "New password", class: "block text-sm font-medium leading-6 text-gray-900" %>
          <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "••••••••", maxlength: 72, class: "form-input mt-2" %>
        </div>

        <div>
          <%= form.label :password_confirmation, "Repeat new password", class: "block text-sm font-medium leading-6 text-gray-900" %>
          <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "••••••••", maxlength: 72, class: "form-input mt-2" %>
        </div>

        <div>
          <%= form.submit "Save", class: "btn-primary w-full" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
